# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo
*.pyd


# ==============================
# Virtual environments
# ==============================

.venv/
venv/


# ==============================
# Environment variables
# ==============================

.env


# ==============================
# Django
# ==============================

media/
staticfiles/

*.log


# ==============================
# Testing
# ==============================

.pytest_cache/
.coverage
htmlcov/


# ==============================
# IDEs
# ==============================

.vscode/
.idea/


# ==============================
# Operating systems
# ==============================

.DS_Store
Thumbs.db